.todo {
  background-color: #8659ff;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons svg {
  margin-left: 5px;
  font-size: 24px;
}
